# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

.idea/

# Public files
public/index.html
public/service-worker.js
public/favicon.ico
public/asset-manifest.json
public/static/
public/manifest.json
