@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.btn-purple {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
}

.btn-purple:hover {
  color: #fff;
  background-color: #643ab0;
  border-color: #643ab0;
}
