.short-form {
  padding-top: 30px;
}

.short-form__btn {
  width: 100%;
  max-width: 200px;
}

.short-form__info-wrapper {
  min-height: 190px;
}

.short-form__actions {
  position: relative;
}

.short-form__errors,
.short-form__success {
  opacity: 0;
  transition: opacity 300ms ease;
  height: 0;
}

.short-form__errors.show,
.short-form__success.show {
  opacity: 1;
  height: auto;
}

.short-form__short-url-input {
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}
